*{
    padding: 0;
    margin: 0;
    border-radius: 0;
}

body {
    background-color: #c77b7bd4;
}

.container {
    width: 500px;
    height: auto;
    border: 3px dashed black;
    background: transparent;
    margin: 100px auto 0;
}

.container h1{
    text-align: center;
    margin: 20px 0 0;
}

h6 {
    font-size: 15px;
    text-align: center;
    margin: 0 0 30px;
}

h3 {
    font-size: 20px;
    text-decoration: underline;
    margin: 0 5px 5px;
    text-align: center  ;
}

input {
    width: 80%;
    height: 30px;
    border-radius: 5px;
    margin: 0 40px 30px;
    font-size: 20px;
    text-align: center;
    border: 5px solid #e45e5e;  
}

button {
    width: 200px;
    height: 40px;
    margin: 0 30% 20px;
    background: #000;
    color: #fff;
    font-size: 20px;
    padding: 5px;
    border-radius: 5px;
    border: 2px solid #fff;
    transition: all 0.5s ease;
}

button:hover{
    background: transparent;
}

#result {
    font-size: 30px;
    font-weight: 600;
    margin: 10px 10px 90px;
}